.container {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
/*
.grid-container-fill {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  
  .grid-container-fit {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
*/
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #2885C4;
}
.color-light {
    background: #57B3F1;
}


input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

input.search {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./images/search-circle.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 15px 10px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

/*
input.search:focus {
    width: 100%;
}
*/
button.btn {
    border: 0;
    display:inline-block ;
    padding:1em 3em;
    background:#A5F883;
    color:#003A61;
    margin-bottom:1em;
    cursor:pointer;
}

textarea.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

select.txt {
    border: 0;
    padding: 1em;
    width: 87%;
    margin-bottom: 2em;
}

.life-container {
    background:#3FA0E1;
    padding:.5em;
   /* font-weight:bold;
    cursor:pointer; */
}

#lifeContainer
{                
   overflow: hidden;
 }

#lifeContent
{
    height:300px;
    position: relative;
    overflow: auto; 
}


.sort:active .sorti {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    }

.sort {
    color: white; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }


button.status-pending {
    background-color: rgb(30, 5, 99);
    color: white;
    padding: 4px 4px;
    width:80px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

button.status-disapprove {
    background-color: rgb(240, 134, 13);
    color: white;
    padding: 4px 4px;
    width:80px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}


button.status-approve {
    background-color: #4CAF50;
    color: white;
    padding: 4px 4px;
    width:80px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}


button.status-resolve {
    background-color: rgb(175, 170, 170);
    color: white;
    padding: 4px 4px;
    width:80px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

/* Styling Request Table */

.tblRequest {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
}

.tblRequest td, .tblRequest th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tblRequest tr:nth-child(even){background-color: #f2f2f2;}

.tblRequest tr:hover {background-color: rgba(221, 221, 221, 0.4);}

.tblRequest th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


/* Request Links*/
a.request {
    text-decoration: none;
    color:#000 !important;
}
 
a.request:link {
    text-decoration: none;
}

a.request:visited {
    text-decoration: none;
    color:rgb(36, 32, 32);
}

a.request:hover {
    text-decoration: underline;
    color: rgb(3, 3, 75);
    cursor: help;
}

a.request:active {
    text-decoration: underline;
    color:rgb(51, 32, 32) !important;
}

.feedback {
    font-size: small;
    background-color: #003A61;
    padding:8px;
    width:83%;
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.requestForm{
    width: inherit;
}

@ /* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 200px) and (max-width: 600px) {

.container {
    width: 100%;
    margin: 0 auto;
}

.col {
    padding: .1em .5em;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 1em;
}

input, textarea {
    width: inherit;
}

select {
    width: inherit;
}

.txt {
    width: inherit;
}

.form {
    width:inherit;
    font-size: 0.9em;
    }
}
